.contents{
  width: 1240px;
  height: 758px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 1;
}

.content_top{
  width: 1240px;
  height: 519px;
  display: flex;
}

.top_1{
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button_s{
  margin-top: 12px;
}

.job_button {
  width: 126px;
  height: 46px;
  color: #F5F3FF;
  font-size: 20px;
  text-align: center;
  text-shadow: 1.5px 0 0 #7C808A, -1.5px 0 0 #7C808A, 0 2px 0 #7C808A, 0 -1.5px 0 #7C808A
  , 1.5px 2px 0 #7C808A, 1.5px -1.5px 0 #7C808A, -1.5px 2px 0 #7C808A, -1.5px -1.5px 0 #7C808A;
  background: linear-gradient(#F5F3FF, #C4C9D6);
  border: 1.5px solid #7C808A;
  border-radius: 13px;
  position: relative;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.job_button.active {
  background: linear-gradient(180deg, #B7A6FF 0%, #9480E9 100%);
  border: 1.5px solid #564AC3;
  text-shadow: 1.5px 0 0 #564AC3, -1.5px 0 0 #564AC3, 0 2px 0 #564AC3, 0 -1.5px 0 #564AC3
  , 1.5px 2px 0 #564AC3, 1.5px -1.5px 0 #564AC3, -1.5px 2px 0 #564AC3, -1.5px -1.5px 0 #564AC3;
}

.top_2{
}

.skin{
  width: 400px;
  height: 500px;
}

.top_3{
  margin-left: auto;
}

.info{
  width: 232px;
  height: 440px;
  opacity: 0.9;
  background-color: #17181A;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_text{
  width: 188px;
  height: 145px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.job_text{
  font-size: 18px;
  margin-bottom: 40px;
}

.stats_text{
  width: 188px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.my_skin{
  width: 1240px;
  height: 218px;
  opacity: 0.9;
  background-color: #17181A;
  margin-top: 20px;
  border-radius: 7px;
}